</br>
<div class="sloaneheader">
  <p> Sloane Sheldon Photography </p>
</div>

<div class="countriesindex">

  <a class="indexeffect" href="/africa_photos">
    <div class="hero-section-africa" >
      <div class="hero-text">
        <h1>Africa</h1>
      </div>
    </div>
  </a>

  <a class="indexeffect" href="/asia_photos">
    <div class="hero-section-asia">
      <div class="hero-text">
        <h1>Asia</h1>
      </div>
    </div>
  </a>

  <a class="indexeffect" href="/north_america_photos">
    <div class="hero-section-north-america">
      <div class="hero-text">
        <h1>North America</h1>
      </div>
    </div>
  </a>

</div>
