<div>
  <div class="column">

  </div>
  <div class="column">
    <p>Email Sloane Today</p>
    <a class="footer_link" align="center" href="#">Click To Email Me!</a>
  </div>
  <div class="column">
    <p>About The Photographer</p>
    <a class="footer_link" align="center" href="/bio">Click To Learn More!</a>
  </div>
  <div class="column">

  </div>
</div>
